
<ul th:fragment="main-menu">
    <li class="list-group-item">
        <a th:href="@{/home}" th:text="#{label.home}">Home</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/about}" th:text="#{label.about}">About</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/department/search}" >Department</a>
    </li>
</ul>

<ul th:fragment="main-footer" class="nav justify-content">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/home}" th:text="#{label.home}">Home</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/about}" th:text="#{label.about}">About</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/department/search}" >Department</a>
    </li>
</ul>